extends layout

block content
  header.header-container
    h1 Only Members
    div.flex.align-center
      if user
        p.font-small Welcome #{user.firstName}
        |
        a(href='/room/create')
          button.default-button Create Room
        a(href='/my-rooms')
          button.default-button Your Rooms
        a(href='/log-out')
          button.default-button Log Out

      else
        a(href='/sign-up')
          button.default-button Sign Up
        a(href='/log-in')
          button.default-button Log In

  div.room-grid
    each room in rooms
      div.room-container
        p= room.name
        if room.password === 'true'
          p Private
        else
          p Public
        p Members: #{room.members.length}
        if user
          if room.members.includes(user._id)
            a(href=room.url)
              button.join-button Open
          else if room.password === 'true'
            form(method='POST' action=`/room/${room._id}/private`)
              input#password(type='password' name='password')
              input(type='submit' value="Join").join-button
          else
            a(href=room.url)
              button.join-button Join
        else
          a(href='/sign-up')
            button.join-button Join